<%= form_with model: @flight, method: :get do |form| %>
	<ul>
  	<%= form.label :query, "Departure airport:" %>
  	<%= select_tag 'flight[departure_airport]', options_for_select(@airport_options) %>
	</ul>
	<ul>
  	<%= form.label :query, "Arrival airport:" %>
  	<%= select_tag 'flight[arrival_airport]', options_for_select(@airport_options.sort) %>
	</ul>
	<ul>	
  	<%= label_tag(:num_of_passengers, "Number of Passengers") %>
  	<%= select_tag  'flight[num_of_passengers]', options_for_select([1, 2, 3, 4]) %>
	</ul>
	<ul>
  	<%= form.label :query, "Date:" %>
  	<%= select_tag 'flight[date]', options_for_select(@flight_date), :include_blank => true %>
	</ul>
	<ul>
  <%= form.submit "Search" %>
</ul>
<% end %>

<% if @flights %>
<%= form_with url: "/bookings/new", method: :get do |form| %>
	<% @flights.map do |flight|%>
		<ul>
			<%= radio_button_tag "booking[flight_id]", flight.id%>
			<%= hidden_field_tag 'booking[num_of_passengers]', @passengers[:num_of_passengers]  %>

		<li> <%= "Flight Number: #{flight.id}"%> </li>
		<li> <%= "Departure Airport: #{flight.departure_airport.code}"%> </li>
		<li> <%= "Arrival Airport: #{flight.arrival_airport.code}"%> </li>
		<li> <%= "Date: #{flight.date.strftime("%m-%d-%y")}"%> </li>
		<li> <%= "Time: #{flight.time.strftime("%H:%M %p")}"%> </li>
		<li> <%= "Duration: ~#{flight.flight_duration/60} hours"%> </li>
		</ul>
	<% end %>
	<%= form.submit "Select" %>
	<% end %>
<% end %>

<div data-controller="passenger">
  <button data-action="passenger#greet"> Add Passenger</button>
</div>

