<%= form_with model: @flight do |form| %>
	<ul>
  	<%= form.label :query, "Departure airport:" %>
  	<%= select_tag 'flight[departure_airport]', options_for_select(Airport.all.map{|airport| airport.code}), :include_blank => '' %>
	</ul>
	<ul>
  	<%= form.label :query, "Arrival airport:" %>
  	<%= select_tag 'flight[arrival_airport]', options_for_select(Airport.all.map{|airport| airport.code}), :include_blank => '' %>
	</ul>
	<ul>	
  	<%= label_tag(:num_of_passengers, "Number of Passengers") %>
  	<%= select_tag  'flight[num_of_passengers]', options_for_select([1, 2, 3, 4]) %>
	</ul>
	<%= form.submit "Search" %>
<% end %>

	<% if @flights %>
	<%= form_with url: "/bookings/new", method: :get do |form| %>
		<% @flights.map do |flight|%>
			<ul>
				<%= radio_button_tag "booking[icao_id]", flight.icao_id%>
				<%= hidden_field_tag 'booking[num_of_passengers]', @num_of_passengers%>

			<li> <%= "Flight Number: #{flight.icao_id}"%> </li>
			<li> <%= "Departure Airport: #{flight.departure_airport.code}"%> </li>
			<li> <%= "Arrival Airport: #{flight.arrival_airport.code}"%> </li>
			</ul>
		<% end %>
		<%= form.submit "Select" %>
		<% end %>
	<% end %>


