
<div style="margin-left:20px;">
  <center>
    <h3> Flight Info </h3>

    <table border="2" style="width:40%;padding:10px;">
    	<tr>
        <th><u>Flight #</u></th>
    	  <th><u>Departure Airport</u></th>
    	  <th><u>Arrival Airport</u></th>
        <th><u>Departure Time</u></th>
    	  <th><u>Duration</u></th>
    	  <th><u>Number of Passengers</u></th>
    	</tr>
      <tr>
        <td><%=@selected_flight["icao24"]%></td>
        <%# <td><%=@selected_flight.departure_airport.code%></td> %>
        <%# <td><%=@selected_flight.arrival_airport.code%></td> %>
        <%# <td><%=@selected_flight.time.strftime("%H:%M %p")%></td> %>
        <%# <td><%="~ #{@selected_flight.flight_duration / 60} hours"%></td> %>
        <td><%=@num_of_passengers%></td>
      </tr>
    </table>


    <%= form_with model: @booking, data: { controller: 'passenger', passenger_count_value: @num_of_passengers}, method: :post do |form| %>
        <div data-passenger-target="parent" style="padding:20px 0px;">

          <%= form.fields_for :passengers do |sub_form| %>
            <p id="formRow"> 
              <%= sub_form.label :name, "Name:" %>
              <%= sub_form.text_field :name %>
              <%= sub_form.label :email, "Email:" %>
              <%= sub_form.text_field :email %>
            </p>
          <% end %>

          <template data-passenger-target="temp">
            <%= form.fields_for :passengers do |sub_form| %>
              <p id="formRow">
                <%= sub_form.label :name, "Name:" %>
                <%= sub_form.text_field :name %>
                <%= sub_form.label :email, "Email:" %>
                <%= sub_form.text_field :email %>
              </p>
            <% end %>
          </template>
        </div>
        <div>

          <button type="button" data-action="passenger#add"> Add Passenger</button>
          <button type="button" data-action="passenger#remove"> Remove Passenger</button>

          <%= hidden_field_tag 'booking[flight_id]', @selected_flight[:id]  %>
          <%= hidden_field_tag 'booking[num_of_passengers]', @num_of_passengers  %>
          </div>
        <p> <%= form.submit "Book Flight" %> </p>
    <% end %>
  </center>
</div>