<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="prose mx-auto !max-w-none bg-red-950">
    <ul class="flex bg-red-950 justify-center p-2 items-center">
      <%= image_tag("airplane_logo.png", size: "64x40", alt: "Edit Entry", class:"invert") %>
        <a class="text-white text-5xl no-underline tracking-wider ml-4 font-black" href="#">Flight Booker</a>
    </ul>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
